{% extends "chysel.html" %}

{% block content %}
  <h1>Archives</h1>
  <hr />
  {% for year, year_list in chysel.entries | groupby('year') | reverse %}
    <h2>{{ year }}</h2>
    {% for month, month_list in year_list | groupby('month') | reverse %}
      <h3>{{ month }}/{{ year }}</h3>
      {% for day, day_list in month_list | groupby('day') | reverse %}
        <dl class="dl-horizontal">
          {% for entry in day_list %}
            <dt>{{ entry.date }}</dt>
            <dd>
              <a href="{{ chysel.site.url }}{{ entry.url }}">{{ entry.title }}</a>
              <span style="margin:1em">&mdash;</span>
              <em>{{ entry.except }}</em>
            </dd>
          {% endfor %}
        </dl>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}
