{% extends "chysel.html" %}

{% block header %}
{% endblock %}

{% block content %}
  <h1>{{ chysel.entry.title }}</h1>
  <strong>{{ chysel.entry.date }}</strong>
  <hr />
  <p>{{ chysel.entry.content }}</p>
{% endblock %}

{% block footer %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'DISQUS_ID';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endblock %}
