{% extends "base.html" %}

{% block content %}
  <h1>Archives</h1>
  {% for year, year_list in chysel.entries | groupby('year') | reverse %}
    <h2>{{ year }}</h2>
    <ul class="year_block">
      {% for month, month_list in year_list | groupby('month') | reverse %}
        <li>
          <h3>{{ month }}</h3>
          <ul class="month_block">
            {% for day, day_list in month_list | groupby('day') | reverse %}
              {% for entry in day_list %}
                <li><a href="{{ chysel.site.url }}{{ entry.url }}">{{ entry.title }}</a> -- <small>{{ entry.date }}</small></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
